*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif}
    
    header
    {background-image: url(picture/background\ 8.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;}
    
    ul
    {float: right;
    list-style-type: none;
    margin-top: 25px;
    }
    ul li {display: inline-block ;}
    
    ul li a
    {text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.8s ease;
     }
    
     ul li a:hover{
        background-color:#fff;
        color: black; 
     }
    
     ul li.active a {background-color: cyan;
    color: black;}
    
    .logo img {float: left;
    width: 100px;
    height: auto;
    }

    div.gallery {
      margin: 5px;
      border: 5px solid white;
      float: left;
      width: 180px;
    }
    
    div.gallery:hover {
      border: 5px solid white;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 70%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: white;
      border:2px solid white;
    }
    tr:nth-child(odd) {
      background-color: lightsteelblue;
      border:2px solid white;
    }
    
    .table{ position: absolute;
      top: 50%;
      left: 85%;
      transform: translate(-50%, -50%);
    }
    .title{ position: absolute;
      top: 50%;
      left: 69%;
      transform: translate(-50%, -50%);
    }
   

